# Copyright (c) 2020 Broadcom.
# The term "Broadcom" refers to Broadcom Inc. and/or its subsidiaries.
#
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Broadcom, Inc. - initial API and implementation

.vscode/**
typings/**
out/test/**
coverage/**
test/**
src/**
images/**
**/*.map
.gitignore
tsconfig.json
tslint.json
Jenkinsfile
vsc-extension-quickstart.md
undefined/**
CONTRIBUTING.md
.vscode-test/**
tools
_cacache
_locks
anonymous-cli-metrics.json
out/__tests__/**
.releaserc.yaml
releaseScripts
.scannerwork
_/**
?/**
# For BlackDuck
node_modules/lodash/fp
node_modules/jsonschema/schema
node_modules/isarray/
node_modules/promise-retry/
node_modules/minimist/test
node_modules/qs
node_modules/ansi-regex
node_modules/extsprintf
node_modules/imurmurhash
node_modules/isstream
node_modules/concat-map
node_modules/pend
node_modules/forever-agent
node_modules/mustache
node_modules/moment
