<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~  Copyright (c) 2020 Broadcom.
  ~  The term "Broadcom" refers to Broadcom Inc. and/or its subsidiaries.
  ~
  ~  This program and the accompanying materials are made
  ~  available under the terms of the Eclipse Public License 2.0
  ~  which is available at https://www.eclipse.org/legal/epl-2.0/
  ~
  ~  SPDX-License-Identifier: EPL-2.0
  ~
  ~  Contributors:
  ~    Broadcom, Inc. - initial API and implementation
  ~
  -->

<configuration>
    <property name="HOME_LOG" value="${user.home}/Broadcom/LSPCobol/logs/app.log"/>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %replace(%msg){'(\\r\\n|\\r|\\n|\r\n|\r|\n)', ''}%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/Broadcom/LSPCobol/logs/archived/app.%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="${log.level:-ERROR}">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>