# Copyright (c) 2023 Broadcom.
# The term "Broadcom" refers to Broadcom Inc. and/or its subsidiaries.
#
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Broadcom, Inc. - initial API and implementation

name: build

on:
  workflow_dispatch:
    inputs:
      with_telemetry:
        description: "Build with telemetry"
        required: true
        default: 'false'
  pull_request:
    branches:
      - development
      - master
  push:
    branches:
      - development
      - master

jobs:
  zipSources:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies for COBOL LS API
        working-directory: clients/cobol-dialect-api
        run: NODE_ENV=production npm ci
      - name: Install dependencies for COBOL LS
        working-directory: clients/cobol-lsp-vscode-extension
        run: NODE_ENV=production npm ci
      - name: Install dependencies for IDMS
        working-directory: clients/idms-dialect-support
        run: NODE_ENV=production npm ci
      - name: Install dependencies for DaCo
        working-directory: clients/daco-dialect-support
        run: NODE_ENV=production npm ci
      - uses: actions/upload-artifact@v3
        with:
          name: clients-for-bd-scan
          path: clients/**
          if-no-files-found: error
  buildPlatformIndependedPart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: 
          fetch-depth: 0
      - uses: graalvm/setup-graalvm@v1
        with:
          version: '22.3.0'
          java-version: '11'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          ## uncomment me if you need native image job reports
          # native-image-job-reports: 'true'
          cache: 'maven'
      - name: Generate assisted configuration for GraalVM native build
        working-directory: server
        run: mvn -e -B -Pnative -Dagent=true test
      - uses: actions/upload-artifact@v3
        with:
          if-no-files-found: warn
          name: native-build-configuration
          path: server/engine/target/native/agent-output/test/*
      - name: Build Server and Dialects Jars
        working-directory: server
        run: mvn clean package --no-transfer-progress
      - uses: actions/upload-artifact@v3
        with:
          name: jar
          path: server/engine/target/server.jar
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Build VS Code extension dialect API
        working-directory: clients/cobol-dialect-api
        run: |
          npm ci
          npm run compile
      - uses: actions/upload-artifact@v3
        with:
          name: lib
          path: clients/cobol-dialect-api/lib/*    
      - name: Unit Test COBOL LS extension
        working-directory: clients/cobol-lsp-vscode-extension
        run: |
          npm ci
          npm run test
      - name: SonarQube Scan
        uses: kitabisa/sonarqube-action@v1.2.0
        with:
          projectBaseDir: ${{ github.workspace }}
          projectKey: "eclipse-che4z_che-che4z-lsp-for-cobol"
          host: https://sonarcloud.io
          login: ${{ secrets.SONAR_TOKEN }}
      - name: Package IDMS vsix
        working-directory: clients/idms-dialect-support
        run: |
          npm ci
          cp ../../server/dialect-idms/target/dialect-idms.jar ./server/jar
          npm run package
          cp *.vsix ../../.
      - name: Package DaCo vsix
        working-directory: clients/daco-dialect-support
        run: |
          npm ci
          cp ../../server/dialect-daco/target/dialect-daco.jar ./server/jar
          npm run package
          cp *.vsix ../../.
      - uses: actions/upload-artifact@v3
        with:
          if-no-files-found: warn
          name: vsix-idms-dialect
          path: 'cobol-language-support-for-idms*.vsix'
      - uses: actions/upload-artifact@v3
        with:
          if-no-files-found: warn
          name: vsix-daco-dialect
          path: 'cobol-language-support-for-daco*.vsix'
  buildNative:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-11, ubuntu-latest]
        arch: [x64, arm64]
        include:
          - os: ubuntu-latest
            arch: x64
            container: alpine:3.17
    runs-on: ${{ matrix.os }}
    needs: [buildPlatformIndependedPart]
    steps:
      # Generate environment variable
      - shell: pwsh
        if: matrix.os == 'windows-latest'
        run: echo "target=win32-${{ matrix.arch }}" >> $env:GITHUB_ENV
      - shell: sh
        if: matrix.os == 'macos-11'
        run: echo "target=darwin-${{ matrix.arch }}" >> $GITHUB_ENV
      - shell: sh
        if: matrix.os == 'ubuntu-latest'
        run: echo "target=linux-${{ matrix.arch }}" >> $GITHUB_ENV

      # Setup envierment
      - name: switch xcode to 12.5.1
        if: matrix.os == 'macos-11'
        run: |
          sudo xcode-select -s /Applications/Xcode_12.5.1.app/Contents/Developer
          xcodebuild -version
      - uses: al-cheb/configure-pagefile-action@v1.2
        if: matrix.os == 'windows-latest'
        with:
          minimum-size: 16GB
          maximum-size: 16GB
          disk-root: "C:"
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        if: matrix.os == 'ubuntu-latest' && matrix.arch == 'x64'
        with:
          version: '22.3.0'
          java-version: '11'
          components: 'native-image'
          native-image-musl: 'true'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          ## uncomment me if you need native image job reports
          # native-image-job-reports: 'true'
          cache: 'maven'
      - uses: graalvm/setup-graalvm@v1
        if: matrix.os != 'ubuntu-latest' || matrix.arch != 'x64'
        with:
          version: '22.3.0'
          java-version: '11'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          ## uncomment me if you need native image job reports
          # native-image-job-reports: 'true'
          cache: 'maven'
      - name: Retrieve native build configurations
        uses: actions/download-artifact@v3
        with:
          name: native-build-configuration
          path: native-build-configuration
      - name: Verify musl setup
        if: matrix.os == 'ubuntu-latest' && matrix.arch == 'x64'
        run: ./.github/scripts/verify_musl_setup.sh
        shell: bash {0}
      - name: Add graalVM configuration to server
        run: |
          cp -rp native-build-configuration/session-* server/engine/src/main/resources/META-INF/native-image/
          rm server/engine/src/main/resources/META-INF/native-image/session-*/jni-config.json
        shell: bash
      - name: Build with Maven
        working-directory: server
        if: matrix.os != 'ubuntu-latest' || matrix.arch != 'x64'
        run: mvn -e -B -Pnative -DskipTests clean package
      - name: Build with Maven for Linux
        if: matrix.os == 'ubuntu-latest' && matrix.arch == 'x64'
        working-directory: server
        run: mvn -e -B -Plinux-native -DskipTests clean package
      - name: Prepare windows artifacts
        if: matrix.os == 'windows-latest'
        run: |
          mkdir -p staging/${{ env.target }}
          cp server/engine/target/*.exe staging/${{ env.target }}/
          cp server/engine/target/*.dll staging/${{ env.target }}/
          cp server/engine/target/*.txt staging/${{ env.target }}/
      - name: Prepare non-windows artifacts
        if: matrix.os != 'windows-latest'
        run: mkdir staging && cp server/engine/target/engine staging/${{ env.target }}
      - name: Retrieve server jars
        uses: actions/download-artifact@v3
        with:
          path: jar
      - name: Deploy server jar
        working-directory: clients/cobol-lsp-vscode-extension
        run: cp ../../jar/jar/server.jar ./server/jar
      - name: Setup telemetry key
        working-directory: clients/cobol-lsp-vscode-extension
        if: github.event.inputs.with_telemetry == 'true'
        run: echo ${{ secrets.TELEMETRY_INSTRUMENTATION_KEY }} > resources/TELEMETRY_KEY
      - name: Deploy windows executable
        working-directory: clients/cobol-lsp-vscode-extension
        if: startsWith( matrix.os, 'windows')
        run: |
          cp ../../staging/${{ env.target }}/engine.build_artifacts.txt ./server/native
          cp ../../staging/${{ env.target }}/engine.exe ./server/native
          cp ../../staging/${{ env.target }}/sunmscapi.dll ./server/native
          cp ./server/native/* ../../tests/native-executable-tests/server/windows/
      - name: Deploy macos executable
        working-directory: clients/cobol-lsp-vscode-extension
        if: startsWith( matrix.os, 'mac')
        run: |
          cp -p ../../staging/${{ env.target }} ./server/native
          mv ./server/native/${{ env.target }} ./server/native/server-mac
          chmod +x ./server/native/server-mac
          cp ./server/native/server-mac ../../tests/native-executable-tests/server/mac/
      - name: Deploy linux executable
        working-directory: clients/cobol-lsp-vscode-extension
        if: startsWith( matrix.os, 'ubuntu')
        run: |
          cp -p ../../staging/${{ env.target }} ./server/native
          mv ./server/native/${{ env.target }} ./server/native/server-linux
          chmod +x ./server/native/server-linux
          cp ./server/native/server-linux ../../tests/native-executable-tests/server/linux/
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Download VS Code extension dialect API
        uses: actions/download-artifact@v3
        with:
          name: lib
          path: clients/cobol-dialect-api
      - name: Build COBOL LS extension 
        run: npm ci
        working-directory: clients/cobol-lsp-vscode-extension
      - name: Package COBOL LS vsix for ${{ env.target }}
        working-directory: clients/cobol-lsp-vscode-extension
        run: |
          npm run package  -- --target ${{ env.target }}
          cp *.vsix ../../.
      - uses: actions/upload-artifact@v3
        with:
          if-no-files-found: warn
          name: vsix-cobol-language-support-${{ env.target }}
          path: 'cobol-language-support*.vsix'
      - name: Retrieve idms dialect
        uses: actions/download-artifact@v3
        with:
          name: vsix-idms-dialect
          path: dialects-idms
      - name: Restore idms jar and dist folder
        run: |
          unzip -j dialects-idms/*.vsix extension/dist/extension.js extension/dist/extension.js.map -d clients/idms-dialect-support/dist/
          unzip -j dialects-idms/*.vsix extension/server/jar/dialect-idms.jar -d clients/idms-dialect-support/server/jar
        shell: bash
      - name: Retrieve daco dialect
        uses: actions/download-artifact@v3
        with:
          name: vsix-daco-dialect
          path: dialects-daco
      - name: Restore daco jar and dist folder
        run: |
          unzip -j dialects-daco/*.vsix extension/dist/extension.js extension/dist/extension.js.map -d clients/daco-dialect-support/dist/
          unzip -j dialects-daco/*.vsix extension/server/jar/dialect-daco.jar -d clients/daco-dialect-support/server/jar
        shell: bash
      - name: Run integration tests
        uses: coactions/setup-xvfb@v1
        with:
          run: |
            npm run compile
            npm run test:integration
          working-directory: clients/cobol-lsp-vscode-extension          
      - name: Run native executable test code
        working-directory: tests/native-executable-tests
        run: |
          npm ci
          npm run test
