name: Release

on: workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Check if the branch is master
      run: "[ \"master\" = ${GITHUB_REF#refs/heads/} ]"
    - name: Checkout the code
      uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Maven
      working-directory: server
      run: mvn package -DskipTests --no-transfer-progress
    - name: Copy jar into extension
      run: cp server/target/server.jar clients/cobol-lsp-vscode-extension/server
    - name: Set up Node 16
      uses: actions/setup-node@v1
      with:
        node-version: '16'
    - name: Install release-it tool
      run: npm install --global release-it@13.7.0
    - name: Install Node dependencies
      working-directory: clients/cobol-lsp-vscode-extension
      run: npm ci
    - name: Make a release
      working-directory: clients/cobol-lsp-vscode-extension
      run: export NODE_PATH=`npm root -g`; release-it --ci --config ../../release/release-it-release.json
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        THE_KEY: ${{ secrets.TELEMETRY_INSTRUMENTATION_KEY }}
